profiles/*
data/16S/*
data/WGS/*
plots/KLGPG_221206/complication_LMMs_results
plots/KLGPG_221206/cd_lineplots_per_patient
plots/AAAKVT7HR
plots/220310_K3NHW
objects/*
data/ar53_taxonomy_r207.tsv
data/bac120_taxonomy_r207.tsv
data/gtdbk_tax_r207.tab